In [16]:
def warn():
    pass
import warnings
warnings.warn = warn

In [17]:
import os
import numpy as np
import pandas as pd

In [18]:
data = pd.read_csv("C:/Users/User/PycharmProjects/ML-IBM-Course/IBM Course/data/CSV/iris.csv")

In [24]:
data["species"] = data.species.str.replace("Iris-", "")
data.species.value_counts()

setosa        50
versicolor    50
virginica     50
Name: species, dtype: int64

In [27]:
stats_df = data.describe()
stats_df.loc["range"] = stats_df.loc["max"] - stats_df.loc["min"]

out_fields = ["mean", "25%", "50%", "75%", "range"]
stats_df = stats_df.loc[out_fields]
stats_df.rename({"50%" : "median"}, inplace=True)
stats_df

        sepal_length  sepal_width  petal_length  petal_width
mean        5.843333        3.054      3.758667     1.198667
25%         5.100000        2.800      1.600000     0.300000
median      5.800000        3.000      4.350000     1.300000
75%         6.400000        3.300      5.100000     1.800000
range       3.600000        2.400      5.900000     2.400000